<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
   <session-factory>
      <property name ="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
      <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
      <property name="hibernate.hikari.minimumIdle">1</property>
      <property name="hibernate.hikari.maximumPoolSize">10</property>
      <property name="hibernate.hikari.idleTimeout">30</property>
      <property name="hibernate.hikari.dataSource.url">jdbc:sqlserver://bdrecompensa.coppel.io:1433;databaseName=coppelrecompensa;instanceName=SQLEXPRESS;</property>
      <property name="hibernate.hikari.dataSource.user">sysinternet</property>
      <property name="hibernate.hikari.dataSource.password">82f96084e26db6299f73e442410e8557</property>
      <property name="hibernate.hikari.dataSourceClassName">com.microsoft.sqlserver.jdbc.SQLServerDataSource</property>

      <mapping class="com.coppel.entities.CarterasParticipantes" /> 	  
	  <mapping class="com.coppel.entities.CarterasRecompensa" /> 
	  <mapping class="com.coppel.entities.ConfiguracionServicio" /> 
	  <mapping class="com.coppel.entities.CorteAnterior" />
	  <mapping class="com.coppel.entities.cortesCumplidos" />
	  <mapping class="com.coppel.entities.CiudadesRecompensa" />
      <mapping class="com.coppel.entities.LogCRTP" />
	  <mapping class="com.coppel.entities.LogicasRecompensa" /> 
	  <mapping class="com.coppel.entities.MovAbonosPuntuales" /> 
	  <mapping class="com.coppel.entities.MovDineroElectronicoRecompensa" /> 
	  <mapping class="com.coppel.entities.Puntualidades" />
   </session-factory>
</hibernate-configuration>